@model CategoryNavigationModel
@using Nop.Web.Models.Catalog;
@if (Model.Categories.Count > 0)
{
   
    <h2>@T("footer.catalogheader")</h2>
            <ul class="nav nav-pills nav-stacked">
                @foreach (var cate in Model.Categories)
                {
                    <li><a href="@Url.RouteUrl("Category", new { SeName = cate.SeName })">@cate.Name</a>
                    </li>
                }
                    <li><a href="/catalogs">Catalogs</a></li>
                    <li><a href="#">Designer's Section</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
            </ul>
  
}