
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts("Designer Login Landing");
}


<div class="custom-page-box-border-less-div">
    <div class="breadcrumbs">
        <ol class="breadcrumb">

            <li><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a></li>
            <li class="active">Designer Login</li>

        </ol>
    </div>
</div>
<div class="custom-page-box-div">
    <!--features_items-->

    <div>
        <a href="/Download/ANNA'S DRAPERY Price List LATES VERSION 2021.pdf" target="_blank" style="color:red; text-decoration:underline">Download Price List</a><br />
        <strong>Download Order Forms</strong><br />
        <ul>
            <li><a href="/PLEATED DRAPES ORDER 2020 experience.xlsx" style="color:red; text-decoration:underline">Pleated Drape Order Form</a></li>
            <li><a href="/RT RBT ORDER FORM.xlsx" style="color:red; text-decoration:underline">RT & RTB Drape Order Form</a></li>
            <li><a href="/SHEER RAIL ROLL ORDER FORM.xlsx" style="color:red; text-decoration:underline">Sheer Railroll Order Form</a></li>
            <li><a href="/SHEER VERTICAL ORDER FORM.xlsx" style="color:red; text-decoration:underline">Sheer Vertical Order Form</a></li>
            <li><a href="/RIPPLE FOLD ORDER FORM.xlsx" style="color:red; text-decoration:underline">Ripple Fold Order Form</a></li>
        </ul>
        <strong>Place your Orders</strong><br />
        <ul>
            <li><a href="/drapery-order-form" style="color:red; text-decoration:underline">Pleated Drape Order</a></li>
            <li><a href="/rt-rtb-drapery-order-form" style="color:red; text-decoration:underline">RT & RTB Drape Order</a></li>
            <li><a href="/sheer-railroll-order-form" style="color:red; text-decoration:underline">Sheer Railroll Order Form</a></li>
            <li><a href="/sheer-vertical-order-form" style="color:red; text-decoration:underline">Sheer Vertical Order Form</a></li>
            <li><a href="/ripplefold-order-form" style="color:red; text-decoration:underline">Ripple Fold Order Form</a></li>
        </ul>

    </div>
</div>








