@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts("Top Treatments & Shades");
}

@using (Html.BeginForm())
{
<div class="custom-page-box-border-less-div"> 
        <div class="breadcrumbs">
            <ol class="breadcrumb">
            
                <li><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a></li>
                <li class="active">Top Treatments & Shades</li>
            
            </ol>
        </div>
    </div>
<div class="custom-page-box-div"><!--features_items-->

    <div class="product-details" style="text-align:center;">
        Please enter your password access:<br />
        <input type="password" name="password" /><br />
        <input type="submit" class="btn btn-primary" value="Download" /><br />
        <span style="color:red">@ViewBag.Message</span>
    </div>
</div>
}







